@model MVCProject.Models.Entity.Sale
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">Make a Sale</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Sale Window</h2>
            </div>
            <form method="post" action="/Sales/NewSale">
                <div class="modal-body">
                    <label>
                        Item Name
                    </label>
                    @Html.TextBoxFor(m => m.Item, new { @class = "form-control" })
                    <br />
                    <label>
                        Customer
                    </label>
                    @Html.TextBoxFor(m => m.Customer, new { @class = "form-control" })
                    <br />
                    <label>
                        Number of Product
                    </label>
                    @Html.TextBoxFor(m => m.Number, new { @class = "form-control" })
                    <br />
                    <label>
                        Price
                    </label>
                    @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
                    <br />
                    <button type="submit" class="btn btn-info">Make a Sale</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
