@using MVCProject.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Category ID</th>
        <th>Category Name</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    <tbody>
        @foreach(var ctgr in Model)
            {
                <tr>
                    <th>@ctgr.CategoryID</th>
                    <td>@ctgr.CategoryName</td>
                    @*<td><a href="/Categories/Delete/@ctgr.CategoryID" class="btn btn-danger">Delete</a></td>*@
                    <td>@Html.ActionLink("Delete", "Delete", new { id = ctgr.CategoryID }, new { @class = "btn btn-danger", onclick = "return confirm('Are you sure? You can loose your data..!')" })</td>
                    <td><a href="/Categories/Update/@ctgr.CategoryID" class="btn btn-success">Update</a></td>
                </tr>
            }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new {page}))
<a href="/Categories/AddCategory" class="btn btn-primary">Add New Category</a>
